@import './variables.module.scss';

.title {
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -0.05rem;
}

.subtitle {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4;
}

.button {
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    margin: 2rem;
    border-radius: 15px;
    background-color: $background-grey;
    text-align: center;
    line-height: 1.6rem;
}

.link {
    text-decoration: none;
    color: $black;
    margin: 0 1.5rem 2rem 1.5rem;
    &:hover {
        color: $black;
        text-decoration: underline;
    }
}


@mixin containerBaseStyle {
    padding: 3rem 1rem 3rem 1rem;
}

@mixin cardFormat {
    background: #fff;
    border-radius: 0.6em;
    width: 18rem;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}
